<form class="main-form" #form>
  <span class="circle-follower"></span>
  <h1>Formulário</h1>
  <section class="input-container">
    <input id="name" autocomplete="username" required>
    <label class="title-input" for="name" #label>Digite &nbsp; seu &nbsp; nome</label>
  </section>
  <section class="input-container">
    <input id="email" autocomplete="email" required>
    <label class="title-input" for="email" #label>Digite &nbsp; seu &nbsp; e-mail</label>
  </section>
  <section class="input-container">
    <input id="password" type="password" required>
    <label class="title-input" for="password" #label>Digite &nbsp; sua &nbsp; senha</label>
  </section>
  <input type="submit" class="submit-button">
</form>
<main class="background-container" #background></main>